downloads/*.csv
CHANGELOG.md
DEBUG_BOOKMARKLET.md
GUIDE_IMPORT_DOLIBARR.md
GUIDE_INSTALLATION.md
IMPORT_DOLIBARR_README_FINAL.md
INSTALLATION.txt
INSTALLATION_RAPIDE.md
LISEZMOI.md
PERMISSIONS_DOWNLOADS.md
POURQUOI_BOOKMARKLET.md
README.txt
README_IMPORT_DOLIBARR.md
README_INSTALL.md
README_MODIFICATIONS.md
URL_REWRITING.txt
BOOKMARKLET_URL_VERSION.txt
dolibarr-bookmarklet-test.html